@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo Lucas!</h1>
    <p>Learn about <a href="https://github.com/Messier104ngcc">Git Hub</a>.</p>
</div>



