@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo Lucas!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-grid gap-2">
  <button class="btn btn-enter" type="button">ENTER</button>
  <button class="btn btn-exit" type="button">EXIT</button>
</div>

