
@model List<Aluno>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Idade</th>
    </tr>
  </thead>

  <thead>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Matricula</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Cpf</td>
                    <td>@aluno.Idade</td>
                </tr>
            }           
        }
  </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="AdicionarAluno">INSERIR ALUNO</a>
</div>