
@model List<Aluno>


<table class="table">
  <thead>
@*     <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
    </tr> *@
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    Matricula
                </div>
                <div class="col">
                    Nome
                </div>
                <div class="col">
                    Cpf
                </div>
            </div>
        </div>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Matricula</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Cpf</td>
                </tr>
            }           
        }
  </tbody>
</table>