<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoJovemProgramadorMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoJovemProgramadorMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <nav class="nav"> 
            <div class="container-menu">
               <h1 class="display-5">Projeto Jovem Programador</h1>
               @*  @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div class="menupage">
                    <ul class="menulink">
                        <button class="btn-home">
                            <a class="nav-link home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </button>
                        <button class="btn-aluno">
                            <a class="nav-link aluno" asp-area="" asp-controller="Aluno" asp-action="Index" >Aluno</a>
                        </button>
                        <button class="btn-inicio">
                            <a class="nav-link pagina inicial" asp-area="" asp-controller="Pagina Inicial" asp-action="Privacy">Pagina Inicial</a>
                        </button>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-footer">
            &copy; 2024 - ProjetoJovemProgramadorMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
